<header>
	<h1>UR Binary Beatz Databasse</h1>
	<p>You're on the URBD homepage. Enjoy the brain-boosting binary beatz while evaluating!</p>
</header>

<div>
	<ul>
		<li><%= %></li>
	</ul>
</div>	

<footer>
	<p><%= %></p>
</footer>

