<header>	
	<h1>UR Database</h1>
	<p>Loving this hitlist? Leave some love or comment with UR video requests!</p>
</header>

<div>
	<h3><%= @video.title %></h3>
	<iframe src="">
		
	</iframe>
</div>

<footer>
	<p><%= %></p>
</footer>